<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/CSS/headerCSS.css" rel="stylesheet" />
    <!--CSS by Quân-->
    <link href="/CSS/Quan-amisStyle.css" rel="stylesheet" />
    <!--End CSS by Quân-->
</head>
<body>
    <div class="header">

        <div class="main-header">
            <div class="inline" id="button-menu"></div>
            <div class="inline" id="logo"></div>
            <div class="inline" id="iconmenutop"></div>
            <div class="inline" id="search">
                <div class="inline">
                    <input id="inputsearch" placeholder="Tìm kiếm nhanh..." />

                </div>
                <div class="inline" id="icon-setting"></div>

            </div>
            <div class="inline right-header">
                <div class="inline">
                    <button id="button">Làm việc với phiên bản cũ</button>
                </div>
                <div class="inline" id="label-code">
                    R22.21
                </div>
                <div class="inline" id="ava"></div>
                <div class="inline" id="user">Văn Mạnh</div>
            </div>
        </div>
    </div>
    <!--Quân-->
    <div class="content">
        <div class="quan-left-menu">
            <div class="desk hover-par-div">
                <div class="icon"></div>
                <div class="text">Bàn làm việc</div>
            </div>

            <div class="profile hover-par-div" name="profile">
                <div class="icon"></div>
                <div class="text">Hồ sơ nhân viên</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="profile">
                <div>Hồ sơ</div>
                <div>Hợp đồng</div>
                <div>Nhân viên tự cập nhật</div>
            </div>

            <div class="salary-tax-insurance hover-par-div" name="salary-tax-insurance">
                <div class="icon"></div>
                <div class="text">Lương - Thuế - Bảo hiểm</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="salary-tax-insurance">
                <div class="right-menu-icon" subtext="time-manager">Quản lý thời gian</div>
                <div class="right-menu-icon" subtext="point">Chấm công</div>
                <div class="right-menu-icon" subtext="salary">Lương</div>
                <div class="right-menu-icon" subtext="tax">Thuế</div>
                <div class="right-menu-icon" subtext="insurance">Bảo hiểm</div>
            </div>

            <div class="recuit hover-par-div" name="recuit">
                <div class="icon"></div>
                <div class="text">Tuyển dụng - Tiếp nhận</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="recuit">
                <div class="right-menu-icon" subtext="recuit">Tuyển dụng</div>
                <div>Tiếp nhận</div>
            </div>

            <div class="commend hover-par-div hover-par-div" name="commend">
                <div class="icon"></div>
                <div class="text">Khen thưởng - Sự cố</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="commend">
                <div>Khen thưởng</div>
                <div>Sự cố</div>
            </div>

            <div class="vote hover-par-div" name="vote">
                <div class="icon"></div>
                <div class="text">Đánh giá - Đào tạo - Phúc lợi</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="vote">
                <div>Đánh giá</div>
                <div class="right-menu-icon" subtext="education">Đào tạo</div>
                <div>Phúc lợi</div>
            </div>

            <div class="procedure hover-par-div" name="procedure">
                <div class="icon"></div>
                <div class="text">Thủ tục</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="procedure">
                <div class="hover-child-div">Công tác</div>
                <div>Đồng phục & bảo hộ</div>
                <div>Thôi việc</div>
            </div>

            <div class="report right-menu-icon hover-par-div" subtext="report">
                <div class="icon"></div>
                <div class="text ">Báo cáo</div>
            </div>

            <div class="category right-menu-icon hover-par-div" subtext="category">
                <div class="icon"></div>
                <div class="text">Danh mục</div>
            </div>

            <div class="system right-menu-icon hover-par-div" subtext="system">
                <div class="icon"></div>
                <div class="text">Hệ thống</div>
            </div>

            <div class="addres-book hover-par-div">
                <div class="icon"></div>
                <div class="text">Danh bạ</div>
            </div>

            <div class="quick-report hover-par-div">
                <div class="icon"></div>
                <div class="text">Báo cáo nhanh</div>
            </div>

            <div class="bin hover-par-div">
                <div class="icon"></div>
                <div class="text">Thùng rác</div>
            </div>

            <div class="utility hover-par-div" name="utility">
                <div class="icon"></div>
                <div class="text">Tiện ích</div>
                <div class="sub-menu-icon"></div>
            </div>
            <div class="sub-menu" tag="utility">
                <div>Lịch sử Email</div>
            </div>
        </div>
        <!--all menu-text-->
        <!--Salary-->
        <div class="menu-text" subtext="time-manager">
            <div>Quản lý nghỉ</div>
            <div>Quản lý làm thêm</div>
            <div>Quản lý đi muộn về sớm</div>
            <div>Quản lý làm bù</div>
            <div>Bảng tổng hợp nghỉ phép</div>
        </div>
        <div class="menu-text" subtext="point">
            <div>Chấm công chi tiết theo thời gian</div>
            <div>Chấm công tổng hợp theo thời gian</div>
        </div>
        <div class="menu-text" subtext="salary">
            <div>Bảng lương</div>
            <div>Bảng tổng hợp công nợ</div>
            <div>Bảng chi trả tiền lương</div>
            <div>Bảng tạm ghi nợ nhân viên</div>
            <div>Bảng tổng hợp ghi nợ nhân viên</div>
            <div>Bảng thu nhập khác</div>
            <div>Bảng khấu trừ khác</div>
        </div>
        <div class="menu-text" subtext="tax">
            <div>Tạm tính thuế</div>
            <div>Quyết toán thuế</div>
            <div>Tờ khai quyết toán thuế</div>
            <div>Tờ khai đăng kí mã số thuế TNCN</div>
            <div>Bảng kê đăng kí người phụ thuộc giảm trừ gia cảnh</div>
        </div>
        <div class="menu-text" subtext="insurance">
            <div>Đợt bảo hiểm</div>
            <div>Thanh toán bảo hiểm</div>
            <div>Hồ sơ bảo hiểm</div>
        </div>
        <!--recuit-->
        <div class="menu-text" subtext="recuit">
            <div>Kế hoạch tuyển dụng</div>
            <div>Đợt tuyển dụng</div>
            <div>Nguồn dự trữ</div>
            <div>Hồ sơ vãng lai</div>
        </div>
        <div class="menu-text" subtext="education">
            <div>Tổng hợp nhu cầu đào tạo</div>
            <div>Kế hoạch đào tạo</div>
            <div>Khóa đào tạo</div>
        </div>
        <div class="menu-textt" subtext="report">
            <div class="left-menu-text">
                <label>Hồ sơ nhân viên</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Hồ sơ</div>
                        <div class="inline-subtext">Hợp đồng</div>
                    </div>
                </div>
                <label>Lương - Thuế - Bảo hiểm</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Quản lý thời gian</div>
                        <div class="inline-subtext">Chấm công</div>
                        <div class="inline-subtext">Tiền lương</div>
                        <div class="inline-subtext">Thuế</div>
                        <div class="inline-subtext">Bảo hiểm</div>
                    </div>
                </div>
                <label>Tuyển dụng - Tiếp nhận</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Tuyển dụng</div>
                        <div class="inline-subtext">Tiếp nhận</div>
                    </div>
                </div>
                <!-- </div> -->


            </div>

            <div class="right-menu-text">
                <label>Khen thưởng - Sự cố</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Khen thưởng</div>
                        <div class="inline-subtext">Sự cố</div>
                    </div>
                </div>
                <label>Đánh giá - Đào tạo - Phúc lợi</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Đánh giá</div>
                        <div class="inline-subtext">Đào tạo</div>
                        <div class="inline-subtext">Phúc lợi</div>
                    </div>
                </div>
                <label>Thủ tục</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Công tác</div>
                        <div class="inline-subtext">Đồng phục và bảo hộ lao động</div>
                        <div class="inline-subtext">Thôi việc</div>
                    </div>
                </div>
                <label>Hồ sơ năng lực</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Hồ sơ năng lực</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-textt" subtext="category">
            <div class="left-menu-text">
                <label>Công việc</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Cơ cấu tổ chức</div>
                        <div class="inline-subtext">Vị trí công việc</div>
                        <div class="inline-subtext">Vai trò công việc</div>
                    </div>
                </div>
                <label>Lương</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Khoản lương</div>
                        <div class="inline-subtext">Lý do nghỉ</div>
                        <div class="inline-subtext">Ký hiệu chấm công</div>
                        <div class="inline-subtext">Ca làm việc</div>
                        <div class="inline-subtext">Sản phẩm</div>
                        <div class="inline-subtext">Ngạch bậc lương</div>
                        <div class="inline-subtext">Biểu tính thuế thu nhập</div>
                    </div>
                </div>
            </div>
            <div class="right-menu-text">
                <label>Khác</label>
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Nhà cung cấp</div>
                        <div class="inline-subtext">Đồng phục và bảo hộ lao động</div>
                        <div class="inline-subtext">Cấp độ</div>
                        <div class="inline-subtext">Kỹ năng</div>
                        <div class="inline-subtext">Tiêu chí đánh giá</div>
                        <div class="inline-subtext">Thủ tục</div>
                        <div class="inline-subtext">Nơi đăng kí khám chữa bệnh</div>
                        <div class="inline-subtext">Thiết lập mẫu trộn</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-text" subtext="system">
            <div>Ngôn ngữ</div>
            <div class="select-lang">
                <div class="flag"><span>Tiếng Việt</span></div>
            </div>
            <div>Quản lý người dùng</div>
            <div>Vai trò và quyền hạn</div>
            <div>Nhật ký truy cập</div>
            <div>Thiết lập giá trị ngầm định</div>
            <div class="general-setting">
                <div class="inline">
                    <div class="left-inline">
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                        <div class="border-sub-text"></div>
                    </div>
                    <div class="right-inline">
                        <div class="inline-subtext">Nhà cung cấp</div>
                        <div class="inline-subtext">Đồng phục và bảo hộ lao động</div>
                        <div class="inline-subtext">Cấp độ</div>
                        <div class="inline-subtext">Kỹ năng</div>
                        <div class="inline-subtext">Tiêu chí đánh giá</div>
                        <div class="inline-subtext">Thủ tục</div>
                    </div>
                </div>
            </div>
            <div>Thiết lập trường bắt buộc nhập liệu</div>
            <div>Tùy chọn...</div>
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <!--End all menu-text-->
    <!--End HTML Quân-->
    <!--JS-->

    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <!--JS by Quân-->
    <script src="/Scripts/Quan-amisJS.js"></script>
    <!-- End JS by Quân-->
    </div>
</body>
</html>

